# Basics
- variable
- input
- output

In [36]:
x = 1.2
y = "Abhijeet"

In [37]:
a = [1,2,3,4]
b = {'name': 'Abhijeet', 'age': 12}

In [38]:
x

1.2

In [39]:
name = input("enter your name")

In [40]:
input()

''

In [41]:
city = input("Enter your city")
fav_movie = input("enter your fav movie")
fav_color = input("Enter your fav color")

In [42]:
num1 = input("enter a number A")
nume2 = input("Enter a number B")

Displaying Data

In [43]:
print ('Welcome to Dispaying Data') # Static message to display

Welcome to Dispaying Data

In [44]:
a = 'Alex'
b = 'Baron'
print(a) # display the value of a
print(b) # display the value of b

Alex
Baron

In [45]:
print(a, b)
print(a, a, a, a)

Alex Baron
Alex Alex Alex Alex

In [46]:
name = input('enter a name')
print('your name is ', name)

your name is

In [47]:
num1 = input('enter a number')
num2 = input('enter another number')

In [48]:
print('Your 1st numer is', num1)
print('your second number is', num2)

Your 1st numer is
your second number is

Displaying Data with message

1. comma seperated
2. format string
3. format function
4. string concatenation
5. F-string

In [49]:
# Format String
a, b, c = 5,3.2,"hello" #multiple assignments
print("the values are %d, %f, %s" % (a,b,c))
print("the values are %s, %d, %f" % (c,a,b))

the values are 5, 3.200000, hello
the values are hello, 5, 3.200000

In [50]:
# Fromat Method
print('the value of a = {}, b = {}, c = {}'.format(a,b,c))

the value of a = 5, b = 3.2, c = hello

In [51]:
#String Concatenation
print('Hello ' + 'Word')
print('the values of a=' + str(a))
print('the values of c=' + c)
print('the values of b=' + str(b))
print('the values of a=' + str(a), ' the value of c=' + c, ' the value of b=' + str(b))

Hello Word
the values of a=5
the values of c=hello
the values of b=3.2
the values of a=5  the value of c=hello  the value of b=3.2

In [52]:
# F- String
print(f'the value of a = {a}, b = {b}, c = {c}')

the value of a = 5, b = 3.2, c = hello

In [53]:
##F- String Setting
a,b = 10,3
print(f'{a}/ {b} ={a/b}')
print(f'{a}/ {b} ={a/b:.2f}') # .2f = 2 decimal place

10/ 3 =3.3333333333333335
10/ 3 =3.33

In [54]:
# Alingment 
name = 'Alex'
print(f'you are {name}')
print(f'you are {name:10}') # 10 here is number of characters for display
print(f'you are {name:>10}') # 10 here is number of characters for display

you are Alex
you are Alex
you are       Alex

In [57]:
a,b,c,d = 'Apple', 'Blueberry', 'Cherry', 'Dragonfruit'
print(f'fruit 1: {a:>12}')
print(f'fruit 2: {b:>12}')
print(f'fruit 3: {c:>12}')
print(f'fruit 4: {d:>12}')

fruit 1:        Apple
fruit 2:    Blueberry
fruit 3:       Cherry
fruit 4:  Dragonfruit

## Operators
- arithemetics
- assignment
- comparision
- logical
- relationship
- identity
- bitwise

In [4]:
x = 10
y = 3
print(f'{x} + {y} = {x+y}')
print(f'{x} - {y} = {x-y}')
print(f'{x} * {y} = {x*y}')
print(f'{x} / {y} = {x/y}')
print(f'{x} // {y} = {x//y}')
print(f'{x} % {y} = {x%y}')
print(f'{x} ** {y} = {x**y}')

10 + 3 = 13
10 - 3 = 7
10 * 3 = 30
10 / 3 = 3.3333333333333335
10 // 3 = 3
10 % 3 = 1
10 ** 3 = 1000

In [5]:
eq = x**2 + y**2 % 10 - 5 * 2

In [6]:
x = 120
x += 5 # update x by adding 5 
x *= 10 # updaate x by multiplying by 10
x /= 2 # update x by dividing by 2

In [7]:
print(x > y) # greater than
print(x < y) # less Than
print(x == y) # Eqal to 
print(x != y) # Not Equal to
print(x >= y) # greater than equal to
print(x <= y) # Less than Equal to

True
False
False
True
True
False

In [8]:
x + 10 > y - 5

True

In [9]:
x > y and x > 100

True

In [10]:
x > 15 or y > 10

True

In [13]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print('cherry' in fruits)
print('apple' in fruits)
print('elderberry' in fruits)
print('banana' in fruits)

True
True
True
True

In [14]:
# This is not the best concept 
f = fruits # F is a refference to fruits 
print( f is fruits)
f2 = fruits.copy() # f2 is a copy of fruits
print(f2 is fruits)

True
False

Typecasting

In [16]:
x = 10
xf = float(x)
print(x, xf)
print(type(x), type (xf))
# checking if x is an integer
print(isinstance(x, int))
print(isinstance(xf, int))
print(isinstance(x, str))
print(isinstance(xf, (int, float)))
print(isinstance(xf, (int, float)))

10 10.0
<class 'int'> <class 'float'>
True
False
False
True
True

In [17]:
ord('a') # returns the unicode value of a character

97

In [18]:
print(chr(151108)) # returns the character of a unicode value

ð¤¹„

In [20]:
a = int(input('Enter a number'))
b = int(input ('enter another number'))
print( a+ b)

300

In [21]:
float ('230.35')

230.35