Programming Flow
- condition flow
    - if
    - if else
    - if elif else
    - match case
- iterative flow
    - for loop
    - while loop

In [1]:
if 'hello':
    print('hello everyone')

hello everyone

In [2]:
x = 'hello'
if len(x) >=5:
    print('hello everyone')

hello everyone

In [4]:
a = int(input('Enter a number:'))
if a * 2 > 100:
    print('a * 2 is greater than 100')
if a + 50 > 150:
    print('a + 50 is greater than 150')

In [5]:
x = int(input('Enter a number: '))
if x % 2 == 0:
    print('x is Even')
else:
    print('X is odd')

x is Even

wap to find out the total salary of the employee based on the following data
salary : user inputed
`hra =  5%
`da = 3.3 %
`ta = 2.61 %
total = salary + da + ta + hra

*rule*
if hra is less than 1000 then dont add hra to total.

In [8]:
name = input("what move did you watch ?")
num_str = input('Enter movie rating')
if num_str.isnumeric():
    num = int(num_str)
    print(f"movie: {name}")
    if num == 1:
        print(' ⭐ (Terrible)')
    elif num == 2:
        print('⭐⭐(Bad)')
    elif num == 3:
        print('⭐⭐⭐ (Average)')
    elif num == 4:
        print('⭐⭐⭐⭐ (Good)')
    elif num == 5:
        print(' ⭐⭐⭐⭐⭐ (Excellent)')
    else:
        print('🔺 (Invalid Rating)')
else:
    print('you are stupid just watch movies')

movie: jhg
⭐⭐⭐⭐ (Good)

In [13]:
# Match case - use this to match multiple values
day = input('Enter a day of the week: ' )
match day.lower:
    case 'monday'|'tuesday'|'wednesday'|'friday':
        print('Data science/Data analysis class')
    case 'thursday':
        print('class off')
    case 'saturday'|'sunday':
        print(' weekeend ( no class)')
    case _: # default case
        print(' Invalid day')

 Invalid day

Single Line condition

In [14]:
x = int(input(' Enter a number'))
print("above 100") if x > 100 else print(" Below 100")

 Below 100

## For Loop
- Step Based
for var in iterable:
 Statement....
## While Loop
- Condition based

In [17]:
for v in 'helloo':
    print(v)

h
e
l
l
o
o

In [18]:
colors = ['red', 'blue', 'green']
for i, v in enumerate(colors):
    print(i, v)

0 red
1 blue
2 green

In [21]:
numlist = [12, 56, 7, 2, 10, 20]
for num in numlist:
    print(f'{num:>3} => {num * 10}')

 12 => 120
 56 => 560
  7 => 70
  2 => 20
 10 => 100
 20 => 200

In [22]:
numlist = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for num in numlist:
    print(f'{num:<3} == {num * 1:<3}')

10  == 10
20  == 20
30  == 30
40  == 40
50  == 50
60  == 60
70  == 70
80  == 80
90  == 90
100 == 100

In [23]:
num = 13
for i in range(1,11):
    print(f'{num} * {i} = { num * i }')

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [24]:
num = 13
for i in range(10, 101, 5):
    print(f'{num} * {i} = { num * i }')

13 * 10 = 130
13 * 15 = 195
13 * 20 = 260
13 * 25 = 325
13 * 30 = 390
13 * 35 = 455
13 * 40 = 520
13 * 45 = 585
13 * 50 = 650
13 * 55 = 715
13 * 60 = 780
13 * 65 = 845
13 * 70 = 910
13 * 75 = 975
13 * 80 = 1040
13 * 85 = 1105
13 * 90 = 1170
13 * 95 = 1235
13 * 100 = 1300

In [28]:
# only for Even 
for i in range( 0, 101, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [34]:
# of odd number
for i in range( 1, 100, 3):
    print(i)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58
61
64
67
70
73
76
79
82
85
88
91
94
97